name: Run Medium Post (manual)

on:
  workflow_dispatch:

jobs:
  run-medium-post:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Download Medium Profile ZIP from Private Repo
        run: |
          curl -H "Authorization: token ${{ secrets.PRIVATE_REPO_TOKEN }}" \
            -L https://raw.githubusercontent.com/justingerad05/medium-profile-private/main/medium-profile.zip \
            -o medium-profile.zip

      - name: Unzip Medium Profile
        run: |
          mkdir medium-profile
          unzip -q medium-profile.zip -d medium-profile

      - name: Install Dependencies
        run: |
          npm install
          npx playwright install chromium

      - name: Run Medium Poster
        env:
          BROWSERLESS_API_KEY: ${{ secrets.BROWSERLESS_API_KEY }}
          USER_AGENT: ${{ secrets.USER_AGENT }}
        run: node main.mjs
