name: Medium Auto Post

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install Chrome Stable
      - name: Install Chrome Stable
        uses: browser-actions/setup-chrome@latest

      - name: Show Chrome Install Info
        run: |
          echo "Chrome location:"
          which google-chrome
          google-chrome --version

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      # Run with XVFB to allow full Chrome mode
      - name: Run Medium Automation
        uses: GabrielBB/xvfb-action@v1
        with:
          run: node index.js

      # Upload screenshots and html debug files
      - name: Upload Debug Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: medium-error-artifacts
          path: debug/
