name: Run Medium Test Post

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Automation
        env:
          BROWSERLESS_API_KEY: ${{ secrets.BROWSERLESS_API_KEY }}
          MEDIUM_COOKIES: ${{ secrets.MEDIUM_COOKIES }}
        run: npm start
