name: URL Test

on:
  workflow_dispatch:

jobs:
  test-url:
    runs-on: ubuntu-latest
    steps:
      - name: Print URL
        run: |
          echo "URL = ${{ secrets.PRIVATEURL }}"

      - name: Try to HEAD request
        run: |
          curl -I -L "${{ secrets.PRIVATEURL }}" || true
