name: Secret Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: print if secret exists
        run: |
          if [ -z "${{ secrets.PRIVATEURL }}" ]; then
            echo "secret is NOT accessible"
            exit 1
          else
            echo "secret is accessible"
          fi
