name: Check URL

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Show URL length
        run: |
          echo "Length = ${#PRIVATEURL}"
        env:
          PRIVATEURL: ${{ secrets.PRIVATEURL }}

      - name: HEAD request
        run: |
          curl -I -H "Authorization: token ${{ secrets.PRIVATE_REPO_TOKEN }}" \
          "${{ secrets.PRIVATEURL }}"
