name: Test Medium Login (Remote Browser)

on:
  workflow_dispatch:

jobs:
  login:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Playwright
        run: |
          npm install playwright
          npx playwright install chromium

      - name: Start Remote Browser
        run: |
          npx playwright codegen medium.com/m/signin --browser=chromium --output login.js
